.registration_form_btn {
    width: 260px;
    height: 50px;
    border-radius: 5px;
    background: #3fbc71;
    color: rgb(211, 211, 211);
    font-size: small;
    padding: 10px 54px;
    align-self: flex-end;
    margin-top: 70px;
    color: #fff;
    text-align: center;
    font-family: Arial;
    font-size: 18px;
    margin: 0 auto;
    font-family: Arial;
    font-size: 18px;
    font-weight: 700;
    margin-top: 40px;
    margin-bottom: 70px;
  }
  .registration_form_btn:hover {
    background-color: #49ab70;
  }
  .registration_form_btn:active {
    background-color: #458a61;
  }